{% extends "semantic/kerofis/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="ui sixteen wide column">
    <div class="ui segment">
        <h1 class="ui header">
            <i class="map marked alternate icon"></i>
            <div class="content">
                KerOfis
                <div class="sub header">
                    {% translate "Base de données toponymiques" %}
                </div>
            </div>
        </h1>
        <a class="ui labeled icon basic button" href="https://kartenn.openstreetmap.bzh/#map=8/48.1/-2.3">
            <i class="external link icon"></i>
            {% translate "Voir la carte sur OpenStreetMap.bzh" %}
        </a>
        <p></p>
        <div id="mapid"></div>
    </div>

    <div class="ui grid">
        <div class="ten wide column">
            <div class="ui pink segment">
                {% include 'semantic/kerofis/partial/location_form.html' %}
            </div>
        </div>
        <div class="ui six wide column">
            {% if location_of_day %}
            <div class="ui card">
                <div class="content">
                    <h3 class="ui pink header">
                        <i class="calendar check outline icon"></i>
                        <div class="content">
                            {% translate "Nom de lieu du jour" %}
                        </div>
                    </h3>
                </div>
                <div class="content">
                    <h2 class="ui header">
                        {{ location_of_day.city.name_bre }}
                        <div class="ui sub header">
                            {{ location_of_day.city.name_fra }}
                        </div>
                    </h2>
                </div>
                <div class="ui bottom attached pink button">
                    <i class="ui info icon"></i>
                    {% translate "En savoir plus" %}
                </div>
            </div>
            {% endif %}
            <div class="ui segment">
                <div class="ui statistic">
                    <div class="label">
                        {% translate "la base contient" %}
                    </div>
                    <div class="value">
                        <i class="map marker alternate icon"></i>
                        {{ nb_location }}
                    </div>
                    <div class="label">
                        {% translate "noms de lieux" %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}
