{% extends "semantic/kerofis/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="ui segment">
    <h1 class="ui header"><i class="map marked alternate icon"></i>
        <div class="content">KerOfis
            <div class="sub header">{% translate "Base de données toponymiques" %}</div>
        </div>
    </h1>
    <div class="ui text container">
        <p>KerOfis est la base de données du service Patrimoine linguistique et signalisation de l'Office public. Elle
            permet de consulter la forme bretonne des toponymes bretons et d'obtenir des informations de type
            étymologique sur ces toponymes.</p>
        <p>Vous trouverez également dans KerOfis les formes bretonnes de noms de lieux étrangers (l'Europe, la Corse,
            les Andes, le Nil, etc.), ainsi que les noms administratifs de Bretagne (noms de Pays, de Communautés de
            communes, etc.).</p>
        <p>Les formes correctes des topoynmes figurant dans KerOfis sont rassemblées dans un fichier libre de droits que
            l'on peut télécharger ici : Données libres de droits</p>
        <p>La liste des communes de Bretagne est accessible ici.</p>
        <p>Contactez le Service Patrimoine linguistique et signalisation pour plus d'informations.</p>
        <p></p>
    </div>
</div>
{% endblock content %}
