{% extends "semantic/kerofis/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="ui segment">
    <h1 class="ui header"><i class="map marked alternate icon"></i>
        <div class="content">KerOfis
            <div class="sub header">{% translate "Base de données toponymiques" %}</div>
        </div>
    </h1>
    <div class="ui text container">
{% if LANGUAGE_CODE == 'fr' %}
    {% include 'semantic/kerofis/partial/presentation_fr.html' %}
{% else %}
    {% include 'semantic/kerofis/partial/presentation_br.html' %}
{% endif %}
    </div>
</div>
{% endblock content %}
