{% extends "semantic/kerofis/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="ui segment">
    <h1 class="ui header"><i class="map marked alternate icon"></i>
        <div class="content">KerOfis
            <div class="sub header">{% translate "Base de données toponymiques" %}</div>
        </div>
    </h1>
    <p></p>
    <div class="ui text container">
        <h2 class="ui header">Contenu et disposition des noms de lieux dans KerOfis</h2>

        <p>Pour chaque nom de lieu, la base de donnée KerOfis propose sa forme correcte en breton dans la colonne
            centrale intitulée FORME BRETONNE CORRECTE. La commune de localisation du nom est précisée dans la colonne
            suivante, ainsi que la nature du lieu dans la dernière colonne : commune, village, route, bois,
            pointe...</p>

        <p>Les formes anciennes des toponymes, relevées dans diverses sources, sont délivrées le cas échéant. Pour les
            rendre visibles, il suffit de cliquer sur le petit signe "plus" bleu qui se trouve alors à gauche du nom.
            Nous tenons d'ailleurs à faire observer au lecteur non averti que ces formes historiques ne déterminent en
            aucun cas à elles seules les formes correctes du nom aujourd'hui ou les formes qui étaient utilisées
            autrefois lorsque les gens parlaient entre eux. Ces formes proviennent de manuscrits rédigés en français ou
            en latin pour les plus anciens et dénotent seulement une tradition administrative. La forme véritable du nom
            utilisé par les populations différait bien souvent. Aussi, lorsqu'un nom est marqué en français, ou en
            latin, cela ne signifie pas que les gens n'employaient pas le nom breton lorsqu'ils se parlaient, bien au
            contraire. De même, certaines sources conservent des formes bretonnes très archaïsantes alors que la langue
            avait évoluée depuis bien longtemps. Toutefois ces formes anciennes restent indispensables pour rechercher
            l'étymologie du nom.</p>

        <p>En plus des formes historiques, le nom peut disposer d'une notice étymologique sur le nom recherché, suivant
            les travaux que le Service Patrimoine a pu être amené à conduire. Ces données explicatives sur l'origine ou
            la signification du nom, ou de certains de ses composants, apparaissent également lorsque l'on clique sur le
            petit signe "plus" bleu.</p>

        <p>La base de données contient aussi les noms de Bretagne à caractère administratif, comme les noms de
            Communautés de communes ou de Pays.</p>
        <h2 class="ui header">Noms de lieux internationaux en breton</h2>

        <p>KerOfis offre également les formes bretonnes de noms de lieux étrangers, comme les noms d'Etats, de régions
            internationales, de villes importantes, d'océans, de zones montagneuses ou de fleuves (Ex. : les Etats-Unis,
            la Chine, le Pays de Galles, Londres, le Nil, les Andes, etc.)</p>

        <div class="ui message">
            <h2 class="ui header">Précisions techniques :</h2>
            <ul class="ui list">
                <li class="item">Les délais de réponses peuvent être plus ou moins longs après le lancement d'une
                    requête. Afin de réduire le temps de réponse, il est préférable de préciser la commune de
                    localisation du toponyme recherché.
                </li>
                <li class="item">Pour des raisons techniques et de coût, les prononciations collectées auprès des
                    locuteurs de naissance de même que les formes attestées en breton dans la production en langue
                    bretonne qui se trouvent dans la base générale du service ne sont pas accessibles pour l'instant,
                    bien qu'elles participent pleinement à la normalisation de l'écriture des noms de lieux. Les notices
                    étymologiques y font parfois référence toutefois.
                </li>
                <li class="item">Il peut arriver que dans le corps de l'explication le lecteur soit invité à consulter
                    une autre notice pour obtenir davantage d'informations sur un terme toponymique : le nom auquel il y
                    a renvoi se trouve toujours sur la même commune, sauf indication contraire.
                </li>
                <li class="item">La base de données est optimisée pour le navigateur gratuit Mozilla Firefox. Cependant,
                    certains caractères spéciaux peuvent engendrer des signes méconnaissables dans le corps de la
                    notice.
                </li>
                <li class="item">Cette base de données est alimentée et mise à jour quotidiennement au fur et à mesure
                    de l'avancée des travaux du service.
                </li>
        </div>
        <p></p>
    </div>
</div>
{% endblock content %}
