<form class="ui fluid form" id="formulaire" method="POST">
    {% csrf_token %}
    <h4 class="ui header">Je recherche un nom de lieu (nom de commune, de village, de rue...)</h4>
    <div class="ui fluid action input">
        <input type="text" placeholder="Rechercher un nom..." value="{{ data.name }}" name="name">
        <select class="ui compact selection dropdown" name="search_type">
            <option value="pm"{% if data.search_type == "pm" %} selected{% endif %}>partie de nom</option>
            <option value="me"{% if data.search_type == "me" %} selected{% endif %}>nom entier</option>
            <option value="dm"{% if data.search_type == "dm" %} selected{% endif %}>début de nom</option>
            <option value="fm"{% if data.search_type == "fm" %} selected{% endif %}>fin de nom</option>
        </select>
        <a class="ui pink icon button" onclick="document.getElementById('formulaire').submit();"
            data-content="klikit amañ">
            <i class="search icon"></i>
        </a>
    </div>
    <div class="ui accordion field">
        <div class="title">
            <i class="icon dropdown"></i>
            Plus d'options
        </div>
        <div class="content">
            <div class="field">
                <label>Commune</label>
                <div class="two fields">
                    <div class="field">
                        <select class="ui search dropdown" name="city">
                            <option value="">Selectionner une commune</option>
        {% for city in cities %}
                            <option value="{{ city.pk }}">{{ city.name_fra }}</option>
        {% endfor %}
                        </select>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox">
                            <label>Nom de lieu hors de Bretagne</label>
                        </div>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Catégorie</label>
                        <select multiple="" class="ui dropdown" name="category">
                            <option value="tout">Toutes</option>
        {% for category in categories %}
                            <option value="{{ category.pk }}">{{ category.name_fra }}</option>
        {% endfor %}
                        </select>
                    </div>
                    <div class="field">
                        <label>Département</label>
                        <select multiple="" class="ui dropdown" name="department">
                            <option value="tout">Tous</option>
        {% for department in departments %}
                            <option value="{{ department.pk }}">{{ department.name_fra }}</option>
        {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
