<p style="text-align: justify;"><strong>KerOfis</strong> eo diaz titouroù ar servij Glad yezhel ha panellerezh en Ofis
    Publik. Gantañ e c'haller kavout stumm brezhonek reizh al lec'hanvioù brezhonek hag ivez mont pelloc'h o kas
    enklaskoù etimologel war an anvioù-lec'h e Breizh.</p> <p style="text-align: justify;">E-barzh KerOfis e kavot ivez
    stumm brezhonek al lec'hanvioù n'int ket anvioù a orin brezhonek, evel an anvioù-lec'h estren (da skouer : Europa,
    Korsika, an Andoù, an Nil...), hag anvioù melestradurel zo eus Breizh (anvioù broioù, kumuniezhioù-kumunioù ha
    kement zo).</p> <p style="text-align: justify;">Ar stummoù skoueriekaet a zo e KerOfis a gaver en ur fichennaoueg
    frank a wirioù, da bellgargañ amañ : <a href="https://www.brezhoneg.bzh/211-roadennou-frank-a-wiriou.htm">Roadennoù frank a wirioù<br></a>Roll
    kumunioù Breizh a c'haller pellgargañ <a href="https://www.brezhoneg.bzh/99-buhez-foran.htm#par1446" title="Roll kumunioù Breizh ">amañ</a>.
</p> <p style="text-align: justify;"><a href="https://www.brezhoneg.bzh/85-darempredou.htm">It e darempred</a> gant ar Servij Glad yezhel ha
    panellerezh evit gouzout hiroc'h.</p>