<h2 class="ui header">KerOfis : ar pezh a zo ennañ, ar mod ma teu war-wel</h2>

<p>Evit pep anv-lec'h e kaver e stumm reizh e brezhoneg er bann kreiz anvet
  STUMM BREZHONEK. Er bann dehou emañ anv ar gumun m'eo lec'hiet enni an anv bet
  kavet, ha peseurt doare anv eo er bann diwezhañ : ur gumun, ur gêriadenn, un
  hent, ur c'hoad...</p>

<p>Kavet e vez stummoù kozh an anv ivez, bet pennaouet e skridoù a bep seurt,
  diouzh ma vez anezho. A-benn lakaat anezho da zont war-wel e ranker klikañ war
  an arouezenn vihan c'hlas "mui" a zo neuze en tu kleiz pellañ. Dav eo deomp
  reiñ da c'houzout da Yann enklasker koulskoude n'eo ket diwar ar stummoù
  kozh-mañ hepken e c'haller gouzout pehini eo ar stummoù reizh hiziv, ha
  peseurt stummoù a veze implijet gant an dud gwechall pa gomzent an eil gant
  egile. Tennet eo ar stummoù-se eus dornskridoù bet skrivet e galleg, pe e
  latin evit ar re goshañ anezho. Testoù int eus un hengoun skrivañ
  melestradurel nemetken. Alies-kaer e c'halle bezañ disheñvel ar stummoù
  implijet gant an dud e gwirionez. Setu, pa vez skrivet un anv bennak e latin
  pe e galleg er skridoù ne dalvez ket ne rae ket an dud gant an anv brezhonek
  pa gomzent an eil ouzh egile, evel-just. Hag a-wechioù e kaver anvioù
  brezhonek miret en o stumm kozh-kozh pa oa emdroet mat ar yezh pell a oa.
  Koulskoude, talvoudus-tre e chom ar stummoù-se evit diskuliañ etimologiezh an
  anvioù dre vras.</p>

<p>Ouzhpenn ar stummoù istorel e c'haller kavout en diaz titouroù-mañ
  displegadennoù etimologel diwar-benn an anv bet kavet, hervez al labourioù en
  deus bet digarez ar Servij da gas a-benn. An displegadennoù a gaver war orin
  pe talvoudegezh anv pe anv, petramant war al lodenn-mañ-lodenn eus an anv, a
  lakaer da zont war-wel o klikañ war an arouezenn vihan c'hlas "mui" ivez.</p>

<p>E KerOfis e vez kavet anvioù melestradurel a-vremañ eus Breizh ivez, e-giz re
  ar Broioù pe ar C'humuniezhioù-kumunioù.</p>

<h2 class="ui header">Anvioù etrebroadel e brezhonek</h2>

<p>E KerOfis ez eus ivez anvioù estren e brezhoneg, evel anvioù Stadoù,
  rannvroioù etrebroadel, kêrioù bras, meurvorioù, menezioù, stêrioù bras
  (Da sk. : Stadoù-Unanet, Sina, Kembre, Londrez, an Nil, an Andoù...).</p>

<div class="ui message">
  <div class="header">
    Resisadennoù teknikel
  </div>
  <ul>
    <li>Hir pe hiroc'h e c'hall ar respontoù da zont. Berroc'h eo da zont pa vez
      resisaet e-peseurt kumun emañ an anv a glasker kaout.</li>

    <li>Evit poent ne vo ket kavet amañ an distagadurioù bet digant ar
      vrezhonegerien a-vihanik abalamour da skoilhoù teknikel ha d'ar c'houst.
      Ne vo ket kavet kennebeut ar stummoù testeniekaet er skridoù brezhonek zo
      e diaz labour ar servij, daoust pegen pouezus e c'hallont bezañ evit
      skoueriekaat an anvioù-lec'h. Anv anezho a vez graet en displegadennoù
      etimologel gwech a vez.</li>

    <li>A-wechioù e vez kaset al lenner da welet un anv-lec'h all evit kaout
      displegadennoù resisoc'h war elfenn pe elfenn : an anv-lec'h a vez dav
      mont da glask titouroù ouzhpenn zo dalc'hmat en hevelep kumun hag an hini
      displeget, nemet ha meneget e vefe mont da welet e lec'h all.</li>

    <li>Savet eo bet an diaz titouroù-mañ evit mont en-dro gant ar merdeer
      digoust Mozilla Firefox. Skoilhoù teknikel a c'hellfe degas sinoù direizh,
      e plas an arouezennoù arbennik, e displegadennoù zo a-wechioù.</li>

    <li>Maget ha nevesaet e vez an diaz-mañ bemdez a-feur ma ya labourioù ar
      servij war-raok.</li>
  </ul>

  <p>It e darempred gant ar <a href="https://www.brezhoneg.bzh/173-mont-e-darempred.htm" target="_blank">Servij Glad yezhel</a> evit gouzout hiroc'h.</p>
</div>
