<h1 class="ui header">Ar raktres</h1>

<h2 class="ui header">Perzh ministrerezh ar Sevenadur</h2>

<p>Divizet eo bet gant Ministrerezh ar Sevenadur hag ar C'hehentiñ harpañ ar
  raktres-mañ zo e bal kinnig ur geriadur istorel eus ar brezhoneg enlinenn.
  Evit se ez eus bet savet ha sinet un emglev dibar tribloaziek etre <strong>DRAC Breizh</strong>
  hag an Ofis publik d'an 8 a viz C'hwevrer 2013.</p>

<h2 class="ui header">Ar brezhoneg skrivet, un hêrezh lennegel kozh</h2>

<p>Alies e vez sellet ouzh ar brezhoneg, e gaou, evel ouzh ur yezh komzet
  nemetken. Stag eo ar soñj-se ouzh ar fed n'eo ket bet skoliataet ar
  vrezhonegerien en o yezh. Met e gwirionez <strong>e c'hall ar brezhoneg ober e vad eus
  un hengoun lennek kozh-mat</strong>, ken evit an oberennoù lennegel ken evit an
  oberennoù geriadurel. Ar skridoù brezhonek kentañ deuet betek ennomp a sav
  d'an VIIIvet kantved, ar pezh a ra eus ar brezhoneg unan eus ar yezhoù a
  skriver abaoe ar pellañ e-touez yezhoù modern Europa, pell-mat a-raok ar
  galleg. Kerkent ha mare an azginivelezh, e 1464, d'ar c'houlz ma weler ar
  geriadurioù kentañ o tont er-maez, eo bet skrivet gant Yann Lagadeg, ar
  <em>Catholicon</em>, anezhañ ar c'hentañ geriadur teiryezhek (brezhoneg-latin-galleg);
  ar geriadur brezhoneg kentañ-mañ eo ivez ar geriadur galleg kentañ. Abaoe ar
  XVvet kantved eo didroc'h an hengoun lennegel skrivet e brezhoneg.</p>

<p>Abaoe ar mare-se n'eus ket bet paouezet gant ar vrezhonegerien da sevel
  geriadurioù a zo ar re vrudetañ anezho re Gregor a Rostrenenn (1732),  ar
  Gonideg (1850), Vallée (1931), geriadur ar brezhoneg a-vremañ F.Favereau
  (1992) pe c'hoazh geriadur unyezhek an Here (2001) evit menegiñ un nebeud
  diouto nemetken.</p>

<h2 class="ui header">Geriadur istorel Roparz Hemon</h2>

<p>N'eo ket <strong>Meurgorf</strong> ar geriadur istorel kentañ bet savet evit ar brezhoneg.
  Etre 1959 ha 1978, betek dezhañ mont da anaon, ez eus bet labouret gant ar
  yezhoniour Roparz Hemon war ur geriadur istorel eus ar brezhoneg. Ur pikol
  labour eo bet merket ar c'heriadurezh vrezhonek gantañ (45 levrenn a c'haller
  prenañ er stalioù pe goulenn digant an ti-embann <strong>Preder</strong>)</p>

<h2 class="ui header">Meurgorf, ur benveg niverel aes da dizhout</h2>

<p>Santet ez eus bet e oa ezhomm neuze da gaout ur benveg niverel dave a
  ginnigfe, dre un diaz roadennoù, <strong>korpus skrivet ar brezhoneg abaoe mare ar
  c'hrennvrezhoneg betek hon amzer</strong>. Setu aze diazez pennañ ar raktres bet kaset
  en-dro gant an OPAB a-drugarez d'ar skoazell degaset gant Ministrerezh ar
  Sevenadur.</p>

<p>Gallout a reer ober gant an ostilh niverel-mañ enlinenn evit netra. Bouetaet
  eo a-zeiz da zeiz. Pal ar geriadur eo <strong>bodañ holl gorpus anavezet ar brezhoneg.</strong>
  Ar pezh a dalvez ivez renabliñ an adstummoù istorel ha/pe rannyezhel anavezet.
  Evit ar poent ez eus <strong>55 747 pennger</strong> ennañ.</p>

<p><strong>Deiziet ha kinniget dre ur frizenn gronologel eo skouerioù ar gerioù
  brezhonek; diskouezet int en o c'henarroud</strong>. Tennet eus oberennoù dave eo ar
  skouerioù. Adskrivet eo bet pep termen en doare-skrivañ orin ha, diouzh an
  dro, treuzskrivet en doare-skrivañ a-vremañ evit aesaat al lenn hag ar
  c'hompren. Merket-pizh eo daveenn implij pep skouer. Gallout a reer adkavout
  aes roll an oberennoù implijet en ur bouezañ war an ivinell <strong>Mammennoù</strong>.</p>

<p>Gallout a reer klask er geriadur dre ul lusker enklask klasel. Posupl eo
  klask gerioù a-bezh pe lodennoù eus ur ger nemetken. Soñjet eo bet ar benveg
  evit ma c'hallfe an dud a garo <strong>ezporzhiañ ar skouerioù a gaver en diaz</strong>.</p>

<p>Evit pep pennger e ro ar geriadur an holl furmoù displeget posupl. Gant se e
  vo tu da sevel arloadoù evel difazierioù skrivañ pe skoazellerioù skrivañ evit
  ar pellgomzerioù hezoug.</p>

<p>Tamm-ha-tamm e vo ouzhpennet termenadurioù ivez.</p>

<h2 class="ui header">Etimologiezh</h2>

<p>Raktreset eo sevel tamm-ha-tamm notennoù etimologel.</p>

<p>Evit an termenoù saoznek omp en em harpet war titouroù tennet eus ar Concise
  Oxford dictionary, 1989. Evit ar c'hembraeg eo Geiriadur prifysgol Cymru a
  gaver bremañ enlinenn (<a href="http://welsh-dictionary.ac.uk/gpc/gpc.html" target="_blank">http://welsh-dictionary.ac.uk/gpc/gpc.html</a>) eo zo bet
  implijet. Erfin, evit ar galleg eo bet heuliet ar CNRTL, Centre national de
  ressources textuelles et lexicales (<a href="http://www.cnrtl.fr/definition/" target="_blank">http://www.cnrtl.fr/definition/</a>).

<h2 class="ui header">Kemer perzh er raktres</h2>

<p>Meret penn-da-benn enlinenn eo ar raktres <strong>Meurgorf</strong>. An dud a venn kemer perzh
  er raktres-mañ en ur binvidikaat ar geriadur gant skouerioù nevez a c'hall
  mont e darempred war-eeun gant skipailh an Ofis publik.</p>
