{% extends "semantic/base.html" %}
{% load static %}

{% block page %}
    <div class="row">
        <div class="ui sixteen wide column">
            <div class="ui breadcrumb">
                <a class="section" href="/">Accueil</a>
                <i class="right angle icon divider"></i>
                <div class="section">Ressources</div>
                <i class="right angle icon divider"></i>
                <div class="active section">Meurgorf</div>
            </div>
            <div class="ui four item pointing menu">
                <a class="item{% if request.path == '/meurgorf/' %} active{% endif %}" href="/meurgorf/">
                    Rechercher
                </a>
                <a class="item{% if request.path == '/meurgorf/presentation' %} active{% endif %}" href="/meurgorf/presentation">
                    Présentation
                </a>
                <a class="item{% if request.path == '/meurgorf/sources' %} active{% endif %}" href="/meurgorf/sources">
                    Sources
                </a>
                <a class="ui item{% if request.path == '/meurgorf/abrev' %} active{% endif %}" href="/meurgorf/abrev">
                    Abréviations
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        {% block content %}{% endblock content %}
    </div>
    {% block second_content %}{% endblock second_content %}
{% endblock page %}

{% block page_styles_scripts %}
<script>
$('.ui.accordion').accordion();
$('.ui.dropdown').dropdown();
$('.tabular .item').tab();
$('.label').popup();
$('.rating').popup();
$('.ui.sticky').sticky();
$('.ui.rating').rating();
</script>
<style>
    pre {
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }
</style>
{% block page_styles_scripts_extra %}{% endblock page_styles_scripts_extra %}
{% endblock page_styles_scripts %}
