{% extends "semantic/meurgorf/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    <h1 class="ui header"><i class="history icon"></i><div class="content">MeurGorf<div class="sub header">{% translate "dictionnaire historique du breton" %}</div></div></h1>
    <div class="ui divider"></div>
    <div class="ui text container">
{% if LANGUAGE_CODE == 'fr' %}
    {% include 'semantic/meurgorf/partial/presentation_fr.html' %}
{% else %}
    {% include 'semantic/meurgorf/partial/presentation_br.html' %}
{% endif %}
    </div>
    <p></p>
{% endblock %}
