{% extends "semantic/meurgorf/base.html" %}
{% load static %}

{% block content %}
    <h1 class="ui header"><i class="history icon"></i><div class="content">MeurGorf<div class="sub header">dictionnaire historique du breton</div></div></h1>
    <div class="ui divider"></div>
    <div class="ui text container">

      <h2 class="ui header">Le projet</h2>

      <h3 class="ui header">Une participation du Ministère de la Culture</h3>

      <p>Le projet d'un dictionnaire historique du breton en ligne a été retenu
        par le Ministère de la Culture et de la Communication. Pour ce faire, une
        convention spécifique de trois ans a été signée entre l'Office public de
        la langue bretonne et la DRAC Bretagne le 8 février 2013.</p>

      <h3>Langue bretonne, une longue tradition littéraire</h3>

      <p>Souvent considérée, à tort, comme une langue exclusivement orale faute
        d'enseignement organisé, la langue bretonne à la chance de s’appuyer en
        fait sur une longue tradition lexicographique et littéraire.  Les premières
        traces écrites du breton remontent au VIIIème siècle ce qui en fait une
        des premières langues écrite européenne, avant le français. Dès la Renaissance
        au moment où les premiers dictionnaires naissent en Europe, Jehan Lagadeuc
        rédige en 1464 le Catholicon, premier dictionnaire trilingue (breton-français-latin);
        ce premier dictionnaire breton est aussi le premier dictionnaire français.
        La tradition littéraire de langue bretonne est ininterrompue depuis le XVème
        siècle.
      </p>

      <p>Depuis lors, les brittophones n’ont eu de cesse de produire des dictionnaires
        dont les plus célèbres sont ceux de Grégoire de Rostrenenn (1732),
        Le Gonidec (1850), Vallée (1931), le dictionnaire du breton contemporain
        de F.Favereau (1992) ou encore le dictionnaire monolingue d’an Here (2001)
        pour ne citer qu’eux.
      </p>

      <h3 class="ui header">Le dictionnaire historique de Roparz Hemon</h3>

      <p>Meurgorf n'est pas le premier dictionnaire historique du breton. Entre
        1959 et 1978 jusqu'à la date de sa disparition le linguiste Roparz Hemon
        a travaillé à un dictionnaire historique du breton. Un travail colossal
        qui fait date dans la lexicographie bretonne (45 fascicules disponibles
        dans le commerce ou auprès des éditions Preder).
      </p>

      <h3 class="ui header">Meurgorf, un outil numérique aisément accessible</h3>

      <p>Le besoin se faisait donc sentir d'un outil numérique de référence présentant
        dans une base de donnée le corpus écrit de la langue bretonne depuis l'époque
        du Moyen-breton jusqu’à nos jours. C’est le fondement du projet mené à bien
        par l’OPLB avec l’aide du Ministère de la Culture.
      </p>

      <p>Ce nouvel outil numérique est consultable en ligne, gratuitement. Il est
        enrichi en continu. Le dictionnaire vise à rassembler l'ensemble du corpus
        lexical breton connu. Ceci inclut également les variantes historique et/ou
        dialectales. Il contient actuellement 55747 entrées.
      </p>

      <p>Les exemples d'emploi des mots bretons utilisés dans leur contexte sont
        datés et présentés au moyen d'une frise chronologique. Les exemples sont
        tirés d'œuvres de référence. Chaque exemple a été retranscrit dans l'orthographe
        d'origine puis, si nécessaire, de nouveau retranscrit dans l'orthographe
        contemporaine pour une meilleure compréhension. Les références des exemples
        sont données précisément. La liste des abréviations des oeuvres utilisées
        est facilement accessible par l'onglet Sources.
      </p>

      <p>Le dictionnaire est interrogeable à partir d'un moteur de recherche classique.
        Il est possible d'effectuer des recherches sur un terme exactement ou à
        partir d'une seule partie de mot. La conception de l'outil permet également
        aux internautes qui le souhaitent d'exporter les exemples présents dans
        la base et ce pour chaque recherche.
      </p>

      <p>Pour chague entrée, le dictionnaire donne également l'ensemble des formes
        fléchies disponibles. Ceci permettra d'élaborer des applications telles
        que des correcteurs orthographiques ou des aides à l'écriture pour téléphones
        portables.
      </p>

      <p>Il est prévu de rajouter progressivement des définitions.</p>

      <h3 class="ui header">Etymologie</h3>

      <p>Il est prévu de rédiger progressivement des notices étymologiques.</p>

      <p>Les informations concernant les termes anglais sont tirées du Concise
        Oxford dictionary, 1989. Pour le gallois nous avons utilisé le Geiriadur
        prifysgol Cymru désormais disponible en ligne (http://welsh-dictionary.ac.uk/gpc/gpc.html).
        Enfin, pour le français nous avons suivi le CNRTL, Centre national de ressources
        textuelles et lexicales (http://www.cnrtl.fr/definition/).
      </p>

      <h3 class="ui header">Rejoindre le projet</h3>

      <p>Meurgorf est un projet directement géré en ligne. Les personnes qui souhaitent
        participer au projet en enrichissant le dictionnaire de nouveaux exemples
        peuvent nous contacter directement.
      </p>

    </div>
    <p></p>
{% endblock %}
