{% extends "semantic/skridaozer/base.html" %}
{% load static %}

{% block content %}
  <p></p>
  <form class="ui form" method="POST" id="formulaire">{% csrf_token %}
    <input id="page" type="hidden" name="page" value="{{ page }}" />
    <input id="sorting_field" type="hidden" name="sorting_field" value="{{ sorting_field }}" />
    <input id="sorting_order" type="hidden" name="sorting_order" value="{{ sorting_order }}" />
    <div class="ui stackable grid">
      <div class="sixteen wide column">
        <div class="ui teal fluid inverted segment">
          <div class="inline fields">
            <div class="field">
              <label>Stagadenn</label>
              <div class="ui huge inverted input">
                <input type="text" name="generic_name" value="{{ data.generic_name }}" onchange="reset_page()">
              </div>
            </div>
            <div class="field">
              <label>Lec’hanv</label>
              <div class="ui huge inverted input">
                <input type="text" name="name" value="{{ data.name }}" onchange="reset_page()">
              </div>
            </div>
            <div class="field">
              <label>Gerioù-alc’hwez</label>
              <div class="ui huge inverted input">
                <input type="text" name="search_keyword" value="{{ data.search_keyword }}" onchange="reset_page()">
              </div>
            </div>
          </div>
          <div class="inline fields">
            <div class="field">
              <label>Kumun</label>
              <div class="ui huge inverted input">
                <input type="text" name="city" value="{{ data.city }}" onchange="reset_page()">
              </div>
            </div>
            <div class="field">
              <label>Departamant</label>
              <div class="ui huge inverted input">
                <input type="text" name="department" value="{{ data.department }}" onchange="reset_page()">
              </div>
            </div>
            <div class="field" style="width: 100%">
              <label>Rummad</label>
              <select class="ui fluid selection dropdown clearable" name="category" id="select_category" onchange="reset_page()">
                <option></option>
  {% for category in categories %}
                <option value="{{ category.id }}"{% if data.category == category.id %} selected="selected"{% endif %}>{{ category.name_bre }}</option>
  {% endfor %}
              </select>
            </div>
          </div>
          <div class="inline fields">
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="search_type" value="icontains" onchange="reset_page()"{% if data.search_type == 'icontains' %} checked="checked"{% endif %}>
                <label>Darn eus ar ger</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="search_type" value="iexact" onchange="reset_page()"{% if data.search_type == 'iexact' %} checked="checked"{% endif %}>
                <label>ger a-bezh</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="search_type" value="istartswith" onchange="reset_page()"{% if data.search_type == 'istartswith' %} checked="checked"{% endif %}>
                <label>Deroù ar ger</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="search_type" value="iendswith" onchange="reset_page()"{% if data.search_type == 'iendswith' %} checked="checked"{% endif %}>
                <label>Dibenn ar ger</label>
              </div>
            </div>
          </div>
          <div class="inline fields">
            <div class="field">
              <div class="ui checkbox">
                <input type="checkbox" name="is_old" onchange="reset_page()"{% if data.is_old %} checked="checked"{% endif %}>
                <label>Er stummoù kozh kepken</label>
              </div>
            </div>
              <div class="field">
              <div class="ui checkbox">
                <input type="checkbox" name="is_normalized" onchange="reset_page()"{% if data.is_normalized %} checked="checked"{% endif %}>
                <label>Er stummoù skoueriekaet hepken</label>
              </div>
            </div>
            <div class="field">
              <div class="ui checkbox">
                <input type="checkbox" name="is_standardized" onchange="reset_page()"{% if data.is_standardized %} checked="checked"{% endif %}>
                <label>Er stummoù testeniekaet hepken</label>
              </div>
            </div>
            <div class="field">
              <div class="ui checkbox">
                <input type="checkbox" name="display_normalized" onchange="reset_page()"{% if data.display_normalized %} checked="checked"{% endif %}>
                <label>Ar stummoù skoueriekaet</label>
              </div>
            </div>
            <div class="field">
              <div class="ui checkbox">
                <input type="checkbox" name="has_coordinated" onchange="reset_page()"{% if data.has_coordinated %} checked="checked"{% endif %}>
                <label>Gant daveennoù douaroniel</label>
              </div>
            </div>
            <div class="field">
              <div class="ui checkbox">
                <input type="checkbox" name="is_on_ign" onchange="reset_page()"{% if data.is_on_ign %} checked="checked"{% endif %}>
                <label>Kaset d’an IGN</label>
              </div>
            </div>
            <div class="field">
              <div class="ui checkbox">
                <input type="checkbox" name="is_official" onchange="reset_page()"{% if data.is_official %} checked="checked"{% endif %}>
                <label>Bet ofisialisaet</label>
              </div>
            </div>
            <div class="field">
              <div class="ui checkbox">
                <input type="checkbox" name="is_public" onchange="reset_page()"{% if data.is_public %} checked="checked"{% endif %}>
                <label>Embannet</label>
              </div>
            </div>
          </div>
          <div class="ui sixteen column centered grid">
            <div class="ui centered row">
              <div class="ui column">
                <button class="ui labeled icon button" name="button">
                  <i class="search icon"></i>Kas
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
  {% if locations %}
      <div class="sixteen wide column">
        <div class="ui teal segment" id="termenadur">
            <h4 class="ui header">Disoc’h : {{ locations.start_index }}-{{ locations.end_index }} - Page {{ page }}/{{ paginator.num_pages }} </h4>
            <table class="ui sortable selectable table">
              <thead>
                <tr>
                    <th data-name="generic_name"{% if sorting_field == 'generic_name' %} class="sorted {{ sorting_label }}"{% endif %}>Stagadenn</th>
                    <th data-name="name"{% if sorting_field == 'name' %} class="sorted {{ sorting_label }}"{% endif %}>Lec’hanv</th>
                    <th data-name="city__name_bre"{% if sorting_field == 'city__name_bre' %} class="sorted {{ sorting_label }}"{% endif %}>Kumun</th>
                    <th data-name="category__name_bre"{% if sorting_field == 'category__name_bre' %} class="sorted {{ sorting_label }}"{% endif %}>Rummad</th>
                    <th data-name="department__name_bre"{% if sorting_field == 'department__name_bre' %} class="sorted {{ sorting_label }}"{% endif %}>Departamant</th>
                </tr>
              </thead>
              <tbody>
    {% for location in locations %}
                <tr onclick="javascript:document.location.href = '{% url 'skridaozer:kerofis_etrefas' location.id %}'">
                    <td>{{ location.generic_name }}</td>
                    <td>{{ location.name }}</td>
                    <td>{{ location.city.name_bre }}</td>
                    <td>{{ location.category.name_bre }}</td>
                    <td>{{ location.department.name_bre }}</td>
                </tr>
    {% endfor %}
                <tr>
                  <td colspan="2">
                    <div class="ui right floated pagination menu">
    {% if locations.has_previous %}
                      <a data-value="1" class="icon item paginator">
                        <i class="angle double left icon"></i>
                      </a>
                      <a data-value="{{ locations.previous_page_number }}" class="icon item paginator">
                        <i class="left chevron icon"></i>
                      </a>
                      <div class="ui floating dropdown icon button">
                        <span class="text">...</span>
                        <div class="menu">
      {% for page_number in paginator.page_range %}
        {% if page_number < locations.number %}
                          <div data-value="{{ page_number }}" class="item paginator">{{ page_number }}</div>
        {% endif %}
      {% endfor %}
                        </div>
                      </div>
    {% endif %}
                      <a data-value="{{ locations.number }}" class="item paginator active">{{ locations.number }}</a>
    {% if locations.has_next %}
                      <div class="ui floating dropdown icon button">
                        <span class="text">...</span>
                        <div class="menu">
      {% for page_number in paginator.page_range %}
        {% if page_number > locations.number %}
                          <div data-value="{{ page_number }}" class="item paginator">{{ page_number }}</div>
        {% endif %}
      {% endfor %}
                        </div>
                      </div>
                      <a data-value="{{ locations.next_page_number }}" class="icon item paginator">
                        <i class="right chevron icon"></i>
                      </a>
                      <a data-value="{{ paginator.num_pages }}" class="icon item paginator">
                        <i class="angle double right icon"></i>
                      </a>
    {% endif %}
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
  {% else %}
    {% if locations.end_index == 0 %}
    <div class="sixteen wide column">
        <div class="ui teal segment">
            <h3>La référence n'a pas été trouvé</h3>
            <a class="ui labeled icon button"
               href="{% url 'skridaozer:kerofis_ouzhpennan' %}?generic_name={{ request.POST.generic_name }}&name={{ request.POST.name }}&">
                <i class="add icon"></i>Ouzhpennañ
            </a>
        </div>
    </div>
    {% endif %}
  {% endif %}
    </div>
  </form>
{% endblock %}

{% block content-js %}
  <script type="text/javascript">
    $(document).ready(function () {
        $('.ui.checkbox').checkbox();
        $('table thead th').on('click', function() {
            $('#sorting_field').val($(this).data('name'));
            $('#sorting_order').val($(this).hasClass('ascending') ? 'desc' : 'asc');
            $('#formulaire').submit();
        });
    });
    $('.paginator').on('click', function () {
        $('#page').val(this.dataset.value);
        $('#formulaire').submit();
    });
    function reset_page() {
        $('#page').val(1)
    }
  </script>
{% endblock content-js %}