{% extends "semantic/skridaozer/base.html" %}
{% load static %}

{% block content %}
  <p></p>
  <form class="ui form" method="POST" id="formulaire">{% csrf_token %}
    <input id="page" type="hidden" name="page" value="{{ page }}" />
    <input id="sorting_field" type="hidden" name="sorting_field" value="{{ sorting_field }}" />
    <input id="sorting_order" type="hidden" name="sorting_order" value="{{ sorting_order }}" />
    <div class="ui stackable grid">
      <div class="sixteen wide column">
        <div class="ui teal fluid inverted segment">
          <div class="inline fields">
            <div class="field">
              <label>Stagadenn</label>
              <div class="ui huge inverted input">
                <input type="text" name="generic_name" value="{{ data.generic_name }}" onchange="reset_page()">
              </div>
            </div>
            <div class="field">
              <label>Lec’hanv</label>
              <div class="ui huge inverted input">
                <input type="text" name="name" value="{{ data.name }}" onchange="reset_page()">
              </div>
            </div>
            <div class="field">
              <label>Gerioù-alc’hwez</label>
              <div class="ui huge inverted input">
                <input type="text" name="search_keyword" value="{{ data.search_keyword }}" onchange="reset_page()">
              </div>
            </div>
          </div>
          <div class="inline fields">
            <div class="field">
              <label>Kumun</label>
              <div class="ui huge inverted input">
                <input type="text" name="city" value="{{ data.city }}" onchange="reset_page()">
              </div>
            </div>
            <div class="field" style="width: 100%">
                <label>Departamant</label>
                <select class="ui fluid selection dropdown clearable" name="department" id="select_department" onchange="reset_page()">
                    <option></option>
    {% for department in departments %}
                    <option value="{{ department.id }}"{% if data.department|add:"0" == department.id %} selected="selected"{% endif %}>{{ department.name_bre }}</option>
    {% endfor %}
                </select>
            </div>
            <div class="field" style="width: 100%">
              <label>Rummad</label>
              <select class="ui fluid selection dropdown clearable" name="category" id="select_category" onchange="reset_page()">
                <option></option>
  {% for category in categories %}
                <option value="{{ category.id }}"{% if data.category|add:"0" == category.id %} selected="selected"{% endif %}>{{ category.name_bre }}</option>
  {% endfor %}
              </select>
            </div>
          </div>
          <div class="inline fields">
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="search_type" value="icontains" onchange="reset_page()"{% if data.search_type == 'icontains' %} checked="checked"{% endif %}>
                <label>Ul lodenn eus an anv</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="search_type" value="iexact" onchange="reset_page()"{% if data.search_type == 'iexact' %} checked="checked"{% endif %}>
                <label>ger a-bezh</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="search_type" value="istartswith" onchange="reset_page()"{% if data.search_type == 'istartswith' %} checked="checked"{% endif %}>
                <label>Deroù ar ger</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="search_type" value="iendswith" onchange="reset_page()"{% if data.search_type == 'iendswith' %} checked="checked"{% endif %}>
                <label>Dibenn ar ger</label>
              </div>
            </div>
          </div>
          <div class="inline fields">
            <div class="field">
              <div class="ui checkbox">
                <input class="search_type" type="checkbox" name="is_old" onchange="change_search_type(this)"{% if data.is_old %} checked="checked"{% endif %}>
                <label>Er stummoù kozh kepken</label>
              </div>
            </div>
              <div class="field">
              <div class="ui checkbox">
                <input class="search_type" type="checkbox" name="is_standardized" onchange="change_search_type(this)"{% if data.is_normalized %} checked="checked"{% endif %}>
                <label>Er stummoù skoueriekaet hepken</label>
              </div>
            </div>
            <div class="field">
              <div class="ui checkbox">
                <input class="search_type" type="checkbox" name="is_attested" onchange="change_search_type(this)"{% if data.is_standardized %} checked="checked"{% endif %}>
                <label>Er stummoù testeniekaet hepken</label>
              </div>
            </div>
            <div class="field">
              <div class="ui checkbox">
                <input type="checkbox" name="display_normalized" onchange="reset_page()"{% if data.display_normalized %} checked="checked"{% endif %}>
                <label>Ar stummoù skoueriekaet</label>
              </div>
            </div>
            <div class="field">
              <div class="ui checkbox">
                <input type="checkbox" name="has_coordinated" onchange="reset_page()"{% if data.has_coordinated %} checked="checked"{% endif %}>
                <label>Gant daveennoù douaroniel</label>
              </div>
            </div>
            <div class="field">
              <div class="ui checkbox">
                <input type="checkbox" name="is_on_ign" onchange="reset_page()"{% if data.is_on_ign %} checked="checked"{% endif %}>
                <label>Kaset d’an IGN</label>
              </div>
            </div>
            <div class="field">
              <div class="ui checkbox">
                <input type="checkbox" name="is_official" onchange="reset_page()"{% if data.is_official %} checked="checked"{% endif %}>
                <label>Bet ofisialisaet</label>
              </div>
            </div>
            <div class="field">
              <div class="ui checkbox">
                <input type="checkbox" name="is_public" onchange="reset_page()"{% if data.is_public %} checked="checked"{% endif %}>
                <label>Embannet</label>
              </div>
            </div>
          </div>
          <div class="ui sixteen column centered grid">
            <div class="ui centered row">
              <div class="ui column">
                <button class="ui labeled icon button" name="button">
                  <i class="search icon"></i>Kas
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
  {% if locations %}
      <div class="sixteen wide column">
        <div class="ui teal segment" id="termenadur">
            <h4 class="ui header">{{ locations.count }} Disoc’h</h4>
            <table class="ui sortable selectable table">
              <thead>
                <tr>
                    <th data-name="generic_name"{% if sorting_field == 'generic_name' %} class="sorted {{ sorting_label }}"{% endif %}>Stagadenn</th>
                    <th data-name="name"{% if sorting_field == 'name' %} class="sorted {{ sorting_label }}"{% endif %}>Lec’hanv</th>
                    <th data-name="city__name_bre"{% if sorting_field == 'city__name_bre' %} class="sorted {{ sorting_label }}"{% endif %}>Kumun</th>
                    <th data-name="category__name_bre"{% if sorting_field == 'category__name_bre' %} class="sorted {{ sorting_label }}"{% endif %}>Rummad</th>
                    <th data-name="department__name_bre"{% if sorting_field == 'department__name_bre' %} class="sorted {{ sorting_label }}"{% endif %}>Departamant</th>
                {% if data.display_normalized %}
                    <th>Stumm skoueriekaet</th>
                {% endif %}
                {% if data.has_coordinated %}
                    <th>Daveennoù douaroniel</th>
                {% endif %}
                {% if data.is_on_ign %}
                    <th>Kaset d’an IGN</th>
                {% endif %}
                {% if data.is_official %}
                    <th>Bet ofisialisaet</th>
                {% endif %}
                {% if data.is_public %}
                    <th>Embannet</th>
                {% endif %}
                </tr>
              </thead>
              <tbody>
    {% for location in locations %}
                <tr onclick="window.open('{% url 'skridaozer:kerofis_etrefas' location.id %}', '_blank').focus();">
                    <td>{{ location.generic_name }}</td>
                    <td>{{ location.name }}</td>
                    <td>{{ location.city.name_bre }}</td>
                    <td>{{ location.category.name_bre }}</td>
                    <td>{{ location.department.name_bre }}</td>
                {% if data.display_normalized %}
                    <td>
                    {% for standardized_form in location.standardized_forms.all %}
                            <p>{{ standardized_form.standardized_form }}</p>
                    {% endfor %}
                    </td>
                {% endif %}
                {% if data.has_coordinated %}
                    <td>{% if location.longitude or location.latitude %}Ya{% else %}N'eo ket{% endif %}</td>
                {% endif %}
                {% if data.is_on_ign %}
                    <td>{% if location.on_ign %}Ya{% else %}N'eo ket{% endif %}</td>
                {% endif %}
                {% if data.is_official %}
                    <td>{% if location.formalized_date %}Ya{% else %}N'eo ket{% endif %}</td>
                {% endif %}
                {% if data.is_public %}
                    <td>{% if location.is_public %}Ya{% else %}N'eo ket{% endif %}</td>
                {% endif %}
                </tr>
    {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
  {% else %}
    {% if locations.count == 0 %}
    <div class="sixteen wide column">
        <div class="ui teal segment">
            <h3>La référence n'a pas été trouvé</h3>
            <a class="ui labeled icon button"
               href="{% url 'skridaozer:kerofis_ouzhpennan' %}?generic_name={{ request.POST.generic_name }}&name={{ request.POST.name }}&">
                <i class="add icon"></i>Ouzhpennañ
            </a>
        </div>
    </div>
    {% endif %}
  {% endif %}
    </div>
  </form>
{% endblock %}

{% block content-js %}
  <script type="text/javascript">
    $(document).ready(function () {
        $('.ui.checkbox').checkbox();
        $('table thead th').on('click', function() {
            $('#sorting_field').val($(this).data('name'));
            $('#sorting_order').val($(this).hasClass('ascending') ? 'desc' : 'asc');
            $('#formulaire').submit();
        });
    });
    $('.paginator').on('click', function () {
        $('#page').val(this.dataset.value);
        $('#formulaire').submit();
    });
    function reset_page() {
        $('#page').val(1)
    }
    function change_search_type(selected) {
        $('.search_type').each(function() {
            if (this != selected) {
                $(this).prop('checked', false);
            }
        });
        reset_page();
    }
  </script>
{% endblock content-js %}