body {
  background-color: #F3F4F5 !important;
}

div#mapid {
  height: 500px;
  z-index: 0;
}

#degemer {
  text-align: center;
}

.ui.menu.topbar {
  border-bottom: 0.5rem solid #FBBD08;
}

#top-intro {
  border-top: 0.5rem solid #FBBD08;
}

.main {
  min-height: 100%;
}

.footer {
  background-color: #000000;
  height: 200px;
  color: #ffffff;
}

video#bgvid {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url(polina.jpg) no-repeat;
  background-size: cover;
}


.introduction {
  position: relative;
  clear: both;
  display: block;
  text-align: center;
  padding: 15rem;
}

.ui.pagination.menu .active.item {
    font-weight: bold;
}

.small-margin {
    margin: 2px;
}

a.ui.label.active {
    background-color: #d0d0d0 !important;
    border-color: #d0d0d0 !important;
    background-image: none;
    color: rgba(0,0,0,.95) !important;
}

pre {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
}