{% extends "semantic/skridaozer/base.html" %}
{% load static %}

{% block content %}
  <p></p>
  <form class="ui form" method="POST" id="formulaire">{% csrf_token %}
    <input id="page" type="hidden" name="page" value="{{ page }}" />
    <div class="ui stackable grid">
      <div class="sixteen wide column">
        <div class="ui teal fluid inverted segment">
          <div class="fields">
            <div class="field">
              <label>Pennger</label>
              <div class="ui huge inverted input">
                <input type="text" name="canonic_form" value="{{ data.canonic_form }}" onchange="reset_page()">
              </div>
            </div>
            <div class="field">
              <label>Stumm istorel</label>
              <div class="ui huge inverted input">
                <input type="text" name="historical_occurrence" value="{{ data.historical_occurrence }}" onchange="reset_page()">
              </div>
            </div>
            <div class="field" style="width: 100%">
              <label>Rumenn-ger</label>
              <select class="ui fluid selection dropdown clearable" name="category" id="select_category" onchange="reset_page()">
                <option></option>
  {% for category in categories %}
                <option value="{{ category.id }}"{% if data.category == category.id %} selected="selected"{% endif %}>{{ category.title_bre }}</option>
  {% endfor %}
              </select>
            </div>
          </div>
          <div class="inline fields">
            <div class="field">
              <div class="ui floating dropdown clearable labeled icon button" id="select_book" onchange="reset_page()">
                <input type="hidden" name="book" value="{{ data.book }}">
                <i class="book icon"></i>
                <span class="text">Oberenn</span>
                <div class="menu">
                  <div class="ui icon search input">
                    <i class="search icon"></i>
                    <input type="text" placeholder="Rechercher un livre">
                  </div>
                  <div class="scrolling menu">
                    <div class="item" data-text="Oberenn" data-value=""></div>
    {% for book in books %}
                    <div class="item" data-value="{{ book.id }}">{{ book.title }}</div>
    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="inline fields">
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="search_type" value="icontains" onchange="reset_page()"{% if data.search_type == 'icontains' %} checked="checked"{% endif %}>
                <label>Darn eus ar ger</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="search_type" value="iexact" onchange="reset_page()"{% if data.search_type == 'iexact' %} checked="checked"{% endif %}>
                <label>ger a-bezh</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="search_type" value="istartswith" onchange="reset_page()"{% if data.search_type == 'istartswith' %} checked="checked"{% endif %}>
                <label>Deroù ar ger</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="search_type" value="iendswith" onchange="reset_page()"{% if data.search_type == 'iendswith' %} checked="checked"{% endif %}>
                <label>Dibenn ar ger</label>
              </div>
            </div>
          </div>
          <div class="ui sixteen column centered grid">
            <div class="ui centered row">
              <div class="ui column">
                <button class="ui labeled icon button" name="button">
                  <i class="search icon"></i>Kas
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
  {% if terms %}
      <div class="sixteen wide column">
        <div class="ui teal segment" id="termenadur">
            <h4 class="ui header">Disoc’h : {{ terms.start_index }}-{{ terms.end_index }} - Page {{ page }}/{{ paginator.num_pages }} </h4>
            <table class="ui selectable table">
              <tbody>
    {% for term in terms %}
                <tr onclick="javascript:document.location.href = '{% url 'skridaozer:meurgorf_etrefas' term.id %}'">
                  <td>{{ term.canonic_form }}</td>
                  <td>{{ term.grammatical_category.title_bre }}</td>
                </tr>
    {% endfor %}
                <tr>
                  <td colspan="2">
                    <div class="ui right floated pagination menu">
    {% if terms.has_previous %}
                      <a data-value="1" class="icon item paginator">
                        <i class="angle double left icon"></i>
                      </a>
                      <a data-value="{{ terms.previous_page_number }}" class="icon item paginator">
                        <i class="left chevron icon"></i>
                      </a>
                      <div class="ui floating dropdown icon button">
                        <span class="text">...</span>
                        <div class="menu">
      {% for page_number in paginator.page_range %}
        {% if page_number < terms.number %}
                          <div data-value="{{ page_number }}" class="item paginator">{{ page_number }}</div>
        {% endif %}
      {% endfor %}
                        </div>
                      </div>
    {% endif %}
                      <a data-value="{{ terms.number }}" class="item paginator active">{{ terms.number }}</a>
    {% if terms.has_next %}
                      <div class="ui floating dropdown icon button">
                        <span class="text">...</span>
                        <div class="menu">
      {% for page_number in paginator.page_range %}
        {% if page_number > terms.number %}
                          <div data-value="{{ page_number }}" class="item paginator">{{ page_number }}</div>
        {% endif %}
      {% endfor %}
                        </div>
                      </div>
                      <a data-value="{{ terms.next_page_number }}" class="icon item paginator">
                        <i class="right chevron icon"></i>
                      </a>
                      <a data-value="{{ paginator.num_pages }}" class="icon item paginator">
                        <i class="angle double right icon"></i>
                      </a>
    {% endif %}
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    {% else %}
        {% if terms.end_index == 0 %}
    <div class="sixteen wide column">
        <div class="ui teal segment">
            <h3>La référence n'a pas été trouvé</h3>
            <a class="ui labeled icon button"
               href="{% url 'skridaozer:meurgorf_ouzhpennan' %}?canonic_form={{ request.POST.canonic_form }}&grammatical_category={{ request.POST.category }}">
                <i class="add icon"></i>Ouzhpennañ
            </a>
        </div>
    </div>
        {% endif %}
    {% endif %}
    </div>
  </form>
{% endblock %}

{% block content-js %}
  <script type="text/javascript">
    $('.paginator').on('click', function () {
        $('#page').val(this.dataset.value);
        $('#formulaire').submit();
    });
    function reset_page() {
        $('#page').val(1)
    }
  </script>
{% endblock content-js %}