{% load i18n %}{% load static %}<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Porched niverel ar brezhoneg</title>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'commun/semantic/dist/semantic.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'commun/semantic/mystyle.css' %}">
  <script src="{% static 'commun/semantic/dist/semantic.min.js' %}"></script>
</head>
<body>


<!-- side menu -->

<div class="ui fluid inverted secondary stackable sticky menu" id="top-intro">
<div class="ui container">
  <div class="ui top pointing dropdown item">
    <i class="atlas icon"></i>
    {% translate "Ressources" %}
    <i class="ui dropdown icon"></i>
    <div class="menu">
      <div class="header">{% translate "Bases de données" %}</div>
      <a class="item" href="{% url 'kerofis' %}"><i class="map marked alternate icon"></i>KerOfis</a>
      <a class="item" href="http://www.fr.brezhoneg.bzh/36-termofis.htm"><i class="search icon"></i>TermOfis</a>
      <div class="header">{% translate "Dictionnaires" %}</div>
      <a class="item" href="{% url 'term' %}"><i class="history icon"></i>MeurGorf</a>

    </div>
  </div>
  <div class="ui dropdown item">
    <i class="globe europe icon"></i>{% translate "Traduction" %}
    <i class="ui dropdown icon"></i>
    <div class="menu">
      <div class="header">{% translate "Traduction automatique à base de règles" %}</div>
        <a class="item" href="http://www.fr.brezhoneg.bzh/42-traducteur-automatique.htm"><i class="language icon"></i>Apertium</a>
    </div>
  </div>
  <div class="ui dropdown item">
    <i class="microphone icon"></i>
    {% translate "Parole" %}
    <i class="ui dropdown icon"></i>
    <div class="menu">
      <div class="header">{% translate "Synthèse vocale" %}</div>
      <a class="item" href="#"><i class="comment icon"></i>Sintezenn ar vouezh</a>
    </div>
  </div>
  <div class="ui dropdown item">
    <i class="desktop icon"></i>{% translate "Applications" %}
    <i class="ui dropdown icon"></i>
    <div class="menu">
      <div class="item" href="#"><i class="spell check icon"></i>{% translate "Correcteurs orthographiques" %}</div>
    </div>
  </div>
  <div class="ui dropdown item">
    <i class="database icon"></i>{% translate "Données" %}
    <i class="ui dropdown icon"></i>
    <div class="menu">
      <div class="header">{% translate "Corpus" %}</div>
      <a href="#" class="item"><i class="file alternate icon"></i>{% translate "Corpus textuel" %}</a>
      <a href="#" class="item"><i class="file audio icon"></i>{% translate "Corpus audio" %}</a>
    </div>
  </div>


  <div class="right menu">
    <a class="item">
      <i class="newspaper icon"></i>{% translate "Actualités" %}
    </a>
    <a class="item">
      <i class="question icon"></i>{% translate "A propos" %}
    </a>
    <a class="item">
      <i class="external alternate icon"></i>{% translate "Liens utiles" %}
    </a>
  </div>
</div>
</div>
<!-- end side menu -->

<video autoplay loop id="bgvid">
<source src="{% static 'commun/images/SourceCode.mp4' %}" type="video/mp4">
</video>

  <div class="ui container" id="intro">
    <div class="introduction">
      <h1 class="ui massive inverted icon header">
        <img src="{% static 'commun/images/LogoOPLB.svg' %}">
        <span class="content">
          Porched niverel ar brezhoneg
        </span>
        <span class="ui sub header">
          {% translate "Portail numérique pour la langue bretonne" %}
        </span>
      </h1>
      <div class="ui hidden divider"></div>
      <a href="#" class="ui disabled inverted button">
        Mont war al lec'hienn brezhonek
      </a>
      <a href="#" class="ui inverted button">Accéder au site en français</a>
    </div>

  </div>
  <script>
  $('.ui.dropdown').dropdown();
  </script>

</body>
</html>
